<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048226779793-qtvrc6h3r0k7eos4qj8pctrclmf4lu97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048226779793-qtvrc6h3r0k7eos4qj8pctrclmf4lu97</string>
	<key>API_KEY</key>
	<string>AIzaSyCr_bU3xMIxOEAcQi1MdiDVaS1un1HpzEk</string>
	<key>GCM_SENDER_ID</key>
	<string>1048226779793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tyuneev.ChatRAFT</string>
	<key>PROJECT_ID</key>
	<string>chatraft</string>
	<key>STORAGE_BUCKET</key>
	<string>chatraft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048226779793:ios:c85f880143ef738299a530</string>
	<key>DATABASE_URL</key>
	<string>https://chatraft.firebaseio.com</string>
</dict>
</plist>